@use '../../../../index.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.363);

    display: flex;
    justify-content: center;
    align-items: center;

    .popup-inner {
        position: relative;
        padding: 32px;
        width: 100%;
        height: 100%;
        max-width: 770px;
        max-height: 300px;
        background-color: #FFF;
        font-family: 'lato','Times New Roman', Times, serif;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
        }
        .produto-imagem {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25%;
        }

        .produto-informacoes {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: baseline;
            line-height: 1;
        }

        .produto-comprar {
            .quantidade-de-compra{
                display: flex;
                width: 125px;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                border-radius: 5px;
                
                button {
                    width: 100%;
                    background-color: transparent;
                    height: 100%;
                    border: none;
                    text-align: center;
                    font-size: 1.5rem
                }
                input {
                    width: 2vw;
                    font-size: 1.5rem;
                    text-align: center;
                    border: none;
                    background-color: transparent;

                }
               
            }
            > button {
                color: white;
                font-weight: 700;
                font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
                background-color: $cor-principal;
                border: 0;
                margin-top: 5px;
                padding: 5px 5.5vw;
                border-radius: 5px;
            }
        }

        .produto-nome {
            font-size: 20px;
        }

        .produto-preco {
            font-weight: 900;
        }

        .produto-descricao {
            font-size: 10px;
        }

        .produto-mais-detalhes {
            font-size: 12px;
        }
    }
}